body #main__form{
    position: relative;
    width: 40%;
    height:80%;
    display:flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top:100px;
    left:550px;
    background-color:rgba(216,191,216,0.4);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5);
    color:rgba(0, 0, 0, 0.7);
    border-radius: 10%;
}
#login__form{
    display:flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top:300px;
    width:500px;
}
#login__form label{
    font-size: 30px;
    margin-bottom: 80px;
}
#login__form input::placeholder{
    font-family: 'Architects Daughter', cursive;
    font-weight: 700;
    font-size: 30px;
    padding-left: 10px;
}
#login__form input{
    background: none;
    border:none;
    width: 300px;
    height:40px;
    border-bottom: 3px solid rgba(0,0,0,0.5);
}
#login__form button{
    background: none;
    border:none;
    margin-left:10px;
    opacity: 0.7;
}
#login__form button:hover{
    animation: hovered 1s ease-in-out infinite;
    color:darkolivegreen;
}
.user-name__input{
    display:flex;
    align-items: center;
    font-size: 30px;
}
.user-name__input input:focus{
    font-family: 'Architects Daughter', cursive;
    font-weight: 700;
    font-size: 30px;
    outline:none;
}
.user-name__input input{
    font-family: 'Architects Daughter', cursive;
    font-weight: 700;
    font-size: 30px;
}




